swagger: "2.0"
info:
  description: "A simple API to make a resilient chat app for workspaces. Feel free to check our [github repository](https://github.com/taller2fiubafedmanmatsan/AppServer) for more information."
  version: "1.0.0"
  title: "Hypechat"
  contact:
    email: "llauromanuel@gmail.com"
host: "app-server-t2.herokuapp.com"
basePath: "/"
tags:
- name: "Users"
  description: "Operations about users"
  externalDocs:
    description: "source code"
    url: "https://bit.ly/2UaXkUo"
schemes:
- "http"
paths:
  /:
    get:
      tags:
      - "Healthcheck"
      summary: "Check if server is still working"
      description: ""
      operationId: ""
      responses:
        200:
          description: "It's alive!"
          schema:
            text/plain:
              type: string
  /api/users:
    post:
      tags:
      - "Users"
      summary: "Register a new user"
      description: "This can only be done one time per user."
      operationId: ""
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Creates user object"
        required: true
        schema:
          type: "object"
          properties:
            name:
              type: "string"
              required: true
            email:
              type: "string"
              required: true
            password:
              type: "string"
              required: true
            nickname:
              type: "string"
            isAdmin:
              type: "boolean"
      responses:
        200:
          description: ""
          header: "x-auth-token"
          schema:
            type: "object"
            properties:
              name:
                type: "string"
              email:
                type: "string"
        400:
          description: "User already registered."
  /api/users/me:
    get:
      tags:
      - "Users"
      summary: "Get user by user id"
      description: ""
      operationId: ""
      produces:
      - "json"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties:
              name:
                type: "string"
              email:
                type: "string"
              nickname:
                type: "string"
              isAdmin:
                type: "boolean"

        400:
          description: "Invalid token."
        401:
          description: "Access denied. No token provided."
    put:
      tags:
      - "Users"
      summary: "Allows the user to change some profile fields"
      description: "Users may only modify their password, nickname or profile picture"
      operationId: ""
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Creates user object"
        required: true
        schema:
          type: "object"
          properties:
            nickname:
              type: "string"
              required: false
            password:
              type: "string"
              required: false
            photo_url:
              type: "string"
              required: false
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties:
              name:
                type: "string"
              email:
                type: "string"
        400:
          description: "name/email/facebook_log/isAdmin is not allowed."
          
  /api/users/restorepassword:
    post:
      tags:
      - "Users"
      summary: "Sends an email containing a new password for the user"
      description: ""
      operationId: ""
      produces:
       - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Creates user object"
        required: true
        schema:
          type: "object"
          properties:
            email:
              type: "string"
              required: true
      responses:
        200:
          description: "New password sent to <user email>"
          parameters:
            type: "object"
            email:
                type: "string"
                required: true

        400:
          description: "Invalid email."
        500:
          description: "Internal server error"
          
  /api/auth/singin:
    post:
      tags:
      - "Authentication"
      summary: "Sing In with an already registered user"
      description: ""
      operationId: ""
      produces:
      - "text"
      parameters:
      - in: "body"
        name: "body"
        description: "Sing in a user"
        required: true
        schema:
          type: "object"
          properties:
            email:
              type: "string"
              required: true
            password:
              type: "string"
              required: true
      responses:
        200:
          description: ""
          schema:
            type: "string"

        400:
          description: "Bad request. or Invalid email or password."

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  User:
    type: "object"
    properties:
      _id:
        type: "ObjectId"
      name:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      nickname:
        type: "string"
      isAdmin:
        type: "boolean"

externalDocs:
  description: "Find out more about Hypechat"
  url: "https://github.com/taller2fiubafedmanmatsan/AppServer"